body
{
  padding: 25px;
  background: #FFFFFF;
}

h1
{
  text-align: center;
  color: #0074D9;
}

#search-field
{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px solid #0074D9;
  box-shadow: none;
  text-transform: uppercase;
}

#search-field::placeholder
{
  text-transform: none;
}

#search-button
{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #0074D9;
  color: #FFFFFF;
}


.searchTerm
{
/*  border-radius: 1rem;
  border: 2px solid #0074D9; */
}

#search-wrapper
{
  position: relative;
  top: 150px;
}

input {
  text-align: center;
}

.input-group
{
  position: relative;
}

table
{
  border: 2px solid #AAAAAA;
}

thead
{
  border-style: hidden;
}

td
{
  text-align: center;
  border-style: hidden;
}

th
{
  color: #0074D9;
  background-color: #FFFFFF;
  text-align: center;
  border-style: hidden;
}

@media only screen and (max-width: 600px) {
  tr {
  display: flex;
  flex-direction: column;
  }
}
