body
{
  padding: 25px;
  background-color: #8FBC8F;
}

input {
  text-align: center;
}

.input-group
{
  position: relative;
  top: 150px;
}

td, th
{
  text-align: center;
}

@media only screen and (max-width: 600px) {
  tr {
  display: flex;
  flex-direction: column;
  }
}
