body
{
  padding: 25px;
  background: #FFFFFF;
}

h1
{
  text-align: center;
  color: #009879;
}

#search-field
{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px solid #009879;
  box-shadow: none;
  text-transform: uppercase;
}

#search-field::placeholder
{
  text-transform: none;
}

#search-button
{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #009879;
  color: #FFFFFF;
}

.searchTerm
{
/*  border-radius: 1rem;
  border: 2px solid #0074D9; */
}

#search-wrapper
{
  position: relative;
  top: 150px;
}

input {
  text-align: center;
}

.input-group
{
  position: relative;
}

.result-table
{
  border: 2px solid #AAAAAA;
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 0.9em;
}

.result-table thead tr th
{
  background-color: #009879;
  color: #FFFFFF;
  text-align: center;
  padding: 12px 15px;
}

.result-table tbody tr th
{
  background-color: #009879;
  color: #FFFFFF;
  text-align: center;
  padding: 12px 15px;
}

.result-table td
{
  text-align: center;
  padding: 12px 15px;
  /* border-style: hidden; */
}

.result-table tbody tr
{
  border-bottom: 1px solid #DDDDDD;
}

@media only screen and (max-width: 600px) {
  tr {
  display: flex;
  flex-direction: column;
  }
}
