<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/mac.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="https://django-jon-project-static.s3.amazonaws.com/images/logo1_200x200.png"
     alt="Not Found" style="width:60px;height:60px;">
  <!-- <a class="navbar-brand" href="#">Apple Wiki</a> -->
  </nav>


{% block center_box %}

{% block content %}



{% endblock content %}

{% endblock center_box %}



</body>
</html>
